tr, td, th{
    border: solid 1px rgb(79, 201, 99);
    padding: 20px;
    
}

table{
    margin: auto;
    
}

.tablafacil{
    width: 1200px;;
}
.tabladura{
    width: 298px;
}
.paracentrar{
    text-align: center;
}
